.products-grid {
  .products-pic {
    width:200px;
    margin:auto;
    .poster img {
      height: 200px;
      width:100%;
    }
    .product-info { 
    	.title { 
    		height: 4em; 
    		}
    	 }
  }
}

.topbar {
	background-color: red;
}