 <div class="topBar">

             <div class="row">
                <div class="large-12 columns">
     
                    <nav class="top-bar" data-topbar>
                    <ul class="title-area">
                   
                      <li class="name">
                        <h1>
                          <a href="#">
                            Shopping-Space
                          </a>
                        </h1>
                      </li>
                     
                      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                    </ul>
             
                <section class="top-bar-section">
                   
                  <ul class="right">
                    <li class="divider"></li>
                    <li><a href="/">index</a></li>
                    <%if user_signed_in? %>
                      <li><a href="/profile">Profile</a></li>
                      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    <%else%>
                      <li><a href="/users/sign_in">sign in</a></li>
                      <li><a href="/users/sign_up">sign up</a></li>
                    <%end%>
                  </ul>
                    </li>
                  </ul>
                </section>
              </nav>
               
            </div>
            </div>    
          </div>